@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using EntityLayer.Concrete
@model Service


<div class="card-header border-0">
    <h3 class="mb-0">Hizmet Güncelleme</h3>
    <div class="card-body">
        <form class="form-group" method="post">
            <div class="form-group mb-3">
                <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" value="@Model.ServiceId" type="hidden" name="ServiceId">
                    <input class="form-control" placeholder="@Model.Title" type="text" name="Title">
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                    </div>
                    <input class="form-control" placeholder="@Model.ImageUrl" type="text" name="ImageUrl">
                </div>
            </div>

            <div class="text-left">
                <button class="btn btn-primary my-4">Hizmet Güncelle</button>
            </div>
        </form>
    </div>
</div>

<!-- Light table -->
<div class="table-responsive">
</div>
<br />

