@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using EntityLayer.Concrete
@model List<Experience>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> ÜNVAN </th>
                                <th> TARİH </th>
                                <th> DENEYİM DÜZENLE </th>
                                <th> DENEYİM SİL </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.ExperienceId </td>
                                    <td>  @item.Name </td>
                                    <td> @item.Date </td>
                                    <td> <a href="/Experience/EditExperience/@item.ExperienceId" class="btn btn-outline-warning btn-fw">Düzenle</a> </td>
                                    <td> <a href="/Experience/DeleteExperience/@item.ExperienceId" class="btn btn-outline-danger btn-fw">Sil</a> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <a href="/Experience/AddExperience" class="btn btn-outline-success btn-fw">Yeni Deneyim Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>
