@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using EntityLayer.Concrete
@model Feature

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description"> Lütfen öne çıkan bilgilerini giriniz. </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label for="exampleInputName1">Başlık</label>
                    <input class="form-control" value="@Model.FeatureID" type="hidden" name="FeatureID">
                    <input type="text" class="form-control" placeholder="@Model.Header" name="Header">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">İsim Soyisim</label>
                    <input type="text" class="form-control" placeholder="@Model.Name" name="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword4">Başlık</label>
                    <input type="text" class="form-control" placeholder="@Model.Title" name="Title">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Öne Çıkan Güncelle</button>
                <button class="btn btn-dark">Vazgeç</button>
            </form>
        </div>
    </div>
</div>
